/*info bulle*/   
 #tooltip {
position:absolute;
z-index:9999;
color:#fff;
font-size:10px;
width:180px;

}

#tooltip .tipHeader {
height:8px;
background:url("../images/tipHeader.gif") no-repeat;
}

/* hack IE */
*html #tooltip .tipHeader {margin-bottom:-6px;}

#tooltip .tipBody {
background-color:#000;
padding:5px;
}
   
   
   
   
   
   
   
   
h1
{
   text-align:center;
   color:white;
}
legend
{
   
  color:white;    
   
}
div
{
   
   color:white;    
}
.boutondiv
{
   
   margin:auto;
   display: block;
   text-align: center;
   
   
}
.bouton 
{
   display:inline-block;
   text-decoration:none;
   background-color:gray;
   color :black;
   cursor:pointer;
   text-align: :center;
   border-radius:2px;
   
}
*
{
   padding:0px;
   margin:0px;
}
label
{
   display:inline-block;
   width:100px;
   text-align:right;
}
div
{
   margin-bottom:5px;
   width:350px;
}
fieldset
{
   width:375px;
   margin-left:5px;
   padding-top:5px;
   margin: 0 auto;
   border-left-color: white;
   border-right-color: white;
   border-bottom-color: black;
   border-top-color: black;
}
legend
{
   margin-left:10px;
}
h1
{
   text-align:center;
}
.groupe-element
{
   box-sizing:border-box;
   width:auto;
   padding:5px;
   padding-top:5px;
   margin:5px;
   
}
.groupe-element label
{
   width:auto;
}
.groupe-element input[type=radio]
{
   vertical-align:middle;
   margin-right:20px;
}
.groupe-element input[type=checkbox]
{
   vertical-align:middle;
}
input[type=submit]
{
   display:block;
   margin:5px auto;
}
html
{
    background:url('../images/DiRT_Rally_Background_That_Car.jpg') no-repeat center center fixed;  
}